MAIL_SENTRY_IMAP_HOST=imap.example.com
MAIL_SENTRY_IMAP_PORT=993
MAIL_SENTRY_IMAP_TLS=implicit
MAIL_SENTRY_IMAP_VERIFY_PEER=true
MAIL_SENTRY_IMAP_TIMEOUT_SECONDS=30.0
MAIL_SENTRY_HOST_PORT=8025
MAIL_SENTRY_SECRET_DIR=/opt/mail-sentry-readonly/secrets
# MAIL_SENTRY_CONFIG_FILE=/opt/mail-sentry-readonly/config.yaml
